<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="com.example.testing4.permission.READ_DATA"
        android:protectionLevel="normal"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Testing4"
        tools:targetApi="31">

        <!--<provider
            android:name=".contentprovider.Cprovider"
            android:authorities="com.example.testing4.contentprovider"
            android:exported="true"
            android:enabled="true"
            android:grantUriPermissions="true"
            android:readPermission="com.example.testing4.permission.READ_DATA"/>-->

        <provider
            android:name=".contentprovider.Cprovider"
            android:authorities="com.example.testing4.contentprovider"
            android:exported="true"
            android:permission="com.example.testing4.permission.READ_DATA"
            />


        <activity
            android:name=".views.maps.MapActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAVrD9m9lvr9LWSyodingHYbCqDzGxVOek" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".views.auth.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.ForgotActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".views.auth.LoginActivity"
            android:exported="false"
            >

        </activity>
        <activity
            android:name=".views.activity.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".views.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Testing4">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".views.activity.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>